<!doctype html>
<html>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h1>Select a color for each class</h1>
        </div>
        <form action="{{ url_for('color_selection') }}" method="post">
          <table border=1>
            {% for key, value in grouped_events.items() %}

            <tr>
              <th> {{ key }} </th>
              <td>
                <input class="color-input" type="int" name="{{ key }}_color">
                <input hidden=true type="text" name="{{ key }}" value="{{ value }}">
                <br>
              </td>
            </tr>

            {% endfor %}
          </table>
      </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <input class="btn btn-secondary btn-block" type="submit" value="Submit">
           </div>
        </form>
      </div>
      <table>
        <tr>
          <td>
            <div style="background-color:#A4BDFC;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#7AE7BF;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#DBADFF;border-radius:5px;width:40px;">
              x
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="background-color:#FF887C;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#FBD878;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#FFB878;border-radius:5px;width:40px;">
              x
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="background-color:#46D6DB;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#E1E1E1;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#5484ED;border-radius:5px;width:40px;">
              x
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="background-color:#51B749;border-radius:5px;width:40px;">
              x
            </div>
          </td>
          <td>
            <div style="background-color:#DC2127;border-radius:5px;width:40px;">
              x
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>